outbound & RFC5626: flow-token is not added if +sip.instance and reg-id are missing

### Description
If the INVITE contains  `;ob` but no `;+sip.instance=xxxx;reg-id=N` then a flow-token is not added to the
record-route header. This is contrary to RFC5626.


#### Reproduction

Configure 2 x  kamailio according to module outbound; i.e 1 x edge proxy and 1 x internal proxy/registrar.

UA1 and UA2 have already REGISTER'ed with `;+sip.instance=...;reg-id=...`.

```
UA1, UA2 --- edge proxy --- internal proxy
```

Send INVITE from UA1 to UA2 with `;ob` but no other params:
```
Contact: <sip:user1250@192.168.12.45:5063;transport=TLS;ob>
Record-Route: <sip:127.0.0.1;r2=on;lr> 
Record-Route: <sip:192.168.13.50:5061;transport=tls;r2=on;lr>
```
Observe that there is no flow-token added.


Send INVITE from UA1 to UA2 with `;ob` with `;+sip.instance=...;reg-id=...`:
```
Contact: <sip:user1200@192.168.122.15;transport=tls;ob>;+sip.instance="<urn:uuid:0000
`0000-0000-0000-0000-0012341234>";reg-id=7
Record-Route: <sip:Jz0HaDIr1ZoqEAPAqA0yE8XAqAwqyAo=@127.0.0.1;r2=on;lr>
Record-Route: <sip:Jz0HaDIr1ZoqEAPAqA0yE8XAqAwqyAo=@192.168.13.50:5061;transport=tls;r2=on;lr>
```
Observe that there is a flow-token added.






#### Debugging Data


#### SIP Traffic

### Possible Solutions

### Additional Information

Version; kamailio 5.6.0

#### RFC5626 Section 9.5
https://datatracker.ietf.org/doc/html/rfc5626#section-9.5

INVITE must contain `ob;` but does not need to contain `;+sip.instance=...;reg-id=...`

```
INVITE sip:alice@a.example SIP/2.0
   From: Bob <sip:bob@example.com>;tag=ldw22z
   To: Alice <sip:alice@a.example>
   Call-ID: 95KGsk2V/Eis9LcpBYy3
   CSeq: 1 INVITE
   Route: <sip:ep1.example.com;lr>
   Contact: <sip:bob@192.0.2.2;transport=tcp;ob>
```

EP1 adds a Record-Route with a flow-token in message #43.
```
Record-Route:   <sip:3yJEbr1GYZK9cPYk5Snocez6DzO7w+AX@ep1.example.com;lr>
```
